.navbar .navbar-nav .nav-item .nav-link{
  text-align: center;
  line-height:1.6;
  margin:10px 0px;
  padding:10px 10px;
  opacity:.8;font-size:.8rem;
  text-transform:uppercase;
  font-weight:600;
  color:#66615B
}

.navbar .navbar-brand{
    text-align: center;
    font-weight: 600;
    margin: 10px 10px;
    padding: 10px 20px;
    font-size: 2rem;
    color: #66615B;
    text-transform:uppercase
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #f05f40;
}


.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto!important;
  margin-bottom: auto!important;
  position: absolute;
  z-index: 1;
}

.service-box {
  width: 200px;
  height: 200px;
  max-width: 250px;
  max-height: 250px;
}

.rounded-circle {
  border-radius: 50%!important;
}

.dormitary {
  margin-top: 1.5rem;
}

.dorm-text {
  margin-top: 1rem;
}









