.nav-link {
    text-align: center;
}

/* Create the parallax scrolling effect */
.page-header { 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}