
.navbar .navbar-nav .nav-item .nav-link, 
.navbar .navbar-nav .nav-item .nav-link p{
  text-align: center;
  line-height:1.6;
  margin: .4rem 0;
  padding:10px 10px;
  opacity:.8;
  font-size:.6rem;
  text-transform:uppercase;
  font-weight:600;
  color:#66615B
}

.navbar .navbar-brand{
    text-align: center;
    font-weight: 600;
    margin: .4rem 0;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #66615B;
    text-transform:uppercase
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #f05f40;
}

.container .col{
  margin: 1rem 0;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto !important;
  margin-bottom: auto !important;
  position: absolute;
  z-index: 1;
}

.dorm-box-1,
.dorm-box-2 {
  width: 200px;
  height: 200px;
  max-width: 250px;
  max-height: 250px;
}

.rounded-circle {
  border-radius: 50%!important;
}


.dorm-text-1,
.dorm-text-2 {
  margin-top: 1rem;
}









